# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores de código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
